In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
clean_trainDf = pd.read_csv('Data/train_df.csv')
clean_testDf = pd.read_csv('Data/test_df.csv')

In [3]:
clean_trainDf

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,jaundice,result,Class.ASD
0,1,0,1,0,1,0,1,0,1,1,38.172746,1,1,6.351166,0
1,0,0,0,0,0,0,0,0,0,0,47.750517,0,1,2.255185,0
2,1,1,1,1,1,1,1,1,1,1,7.380373,0,1,14.851484,1
3,0,0,0,0,0,0,0,0,0,0,23.561927,1,1,2.276617,0
4,0,0,0,0,0,0,0,0,0,0,43.205790,0,1,-4.777286,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,0,1,0,0,0,0,0,0,1,1,16.597187,0,1,12.999501,0
796,0,1,1,0,0,1,0,1,1,1,20.703001,0,1,13.561518,0
797,0,0,0,0,0,0,0,0,0,0,5.711481,0,0,2.653177,0
798,0,0,0,0,0,0,0,0,0,0,16.414305,1,1,9.069342,0
799,0,1,0,0,0,0,0,0,0,0,46.966113,1,1,2.243304,0

In [4]:
clean_testDf

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,jaundice,result
0,1,1,0,0,1,1,0,0,1,1,15.599481,0,0,12.399055
1,1,0,0,0,0,0,0,1,0,0,27.181099,0,1,6.551598
2,1,1,1,0,1,1,0,1,1,1,31.643906,0,0,3.180663
3,0,0,0,0,0,0,0,0,0,0,25.369210,0,1,2.220766
4,0,0,0,1,0,0,0,0,0,0,9.078580,0,1,7.252028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1,1,0,0,1,0,0,1,1,1,23.099434,0,1,-1.915659
196,1,0,0,0,0,0,0,0,0,1,13.935726,0,1,0.520234
197,1,0,0,0,0,0,1,0,1,1,22.760041,0,1,3.498948
198,0,1,0,0,0,0,0,1,0,1,24.352584,1,1,5.594550
199,1,0,0,0,0,0,1,1,0,1,45.713232,1,1,9.532981